body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  background: linear-gradient(120deg, #ceb1b1, #ceb1b1);
  color: #333;
  overflow-x: hidden;
}

#bar{
  color: white;
}

main {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: rotateY(0deg);
  perspective: 800px;
  transition: transform 0.5s ease-in-out;
}

main:hover {
  transform: rotateY(10deg);
}

h1, h2 {
  color: Black;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  background-color: rgb(192, 144, 173);
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

button:hover {
  background-color: rgb(174, 101, 180);
  transform: scale(1.05);
}

#checkoutForm {
  transform: translate(0, 0);
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

#total {
  display: inline-block;
  transform: rotateX(0deg);
  perspective: 600px;
  transition: transform 0.5s;
}

#total:hover {
  transform: rotateX(360deg);
}

@keyframes changeBackground {
  0% {
      background: #ffccd5;
  }
  50% {
      background: #fac4d6;
  }
  100% {
      background: #ceb1b1;
  }
}

body {
  animation: changeBackground 10s infinite alternate;
}

.order-summary {
  column-count: 2;
  column-gap: 20px;
  column-rule: 1px solid #ff6699;
}

.order-summary p {
  margin: 0 0 10px;
}

textarea {
  resize: both;
  overflow: auto;
}

input:focus {
  outline: 2px solid #ea99b4;
  outline-offset: 5px;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  main {
      max-width: 90%;
  }
}

@media screen and (max-width: 991px) {
  .nav-container {
      padding: 16px 48px;
  }

  .nav-container h1 {
      font-size: 25.6px;
  }

  #linqet_e_navigimit {
      flex-direction: column;
      text-align: center;
      width: 300px;
      height: 100vh;
      position: fixed;
      top: 24px;
      right: -300px;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 100000;
      margin-top: 67.2px;
      transition: 0.5s;
  }

  #signupBtn {
      margin-left: 115px;
  }

  #linqet_e_navigimit li {
      padding-right: 0;
      padding: 20px 0;
  }

  #linqet_e_navigimit li a {
      font-size: 19.2px;
      color: white;
      border: 2px solid white;
  }

  #bar {
      margin-right: 20px;
      display: initial;
      cursor: pointer;
  }

  main {
      padding: 10px;
  }

  .order-summary {
      column-count: 1;
      column-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  main {
      max-width: 100%;
      padding: 15px;
  }

  .order-summary {
      column-count: 1;
      column-gap: 15px;
  }

  input, button {
      padding: 8px;
  }
}
